---
title: Add <%= vars.app_runtime_abbr %> to <%= vars.ops_manager %>
owner: PAS Releng
---

<a id='om-add'></a>

Before you configure <%= vars.app_runtime_abbr %>, you must add the <%= vars.app_runtime_abbr %> tile to your <%= vars.ops_manager %> Installation Dashboard.

To add the <%= vars.app_runtime_abbr %> tile to your <%= vars.ops_manager %> Installation Dashboard:

1. If you have not already downloaded <%= vars.app_runtime_abbr %>, log in to [<%= vars.product_network %>](https://network.tanzu.vmware.com/) and click **<%= vars.app_runtime_full %>**.

2. From the **Releases** drop-down menu, select the release to install and choose one of the following:
   1. Click **<%= vars.app_runtime_full %>** to download the Pivotal Application Service `.pivotal` file.
   2. Click **Small Footprint <%= vars.app_runtime_abbr %>** to download the Small Footprint Tanzu for Cloud Foundry `.pivotal` file.

3. Go to <%= vars.ops_manager %> Installation Dashboard.

4. Click **Import a Product** to add your tile to VMware Tanzu Operations Manager. For more information, see [Adding and Deleting Products](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-add-delete.html).

5. Click the **VMware Tanzu Platform for Cloud Foundry** tile in the Installation Dashboard.

## <a id='assign-azs-networks'></a> Assign AZs and networks

<p> For Azure environments, this configuration pane is <strong>Assign Networks</strong> and does not include AZ
configuration.</p>

In the **Assign AZ and Networks** pane, you assign jobs to your Availability Zones (AZs) and networks.

To configure the **Assign AZ and Networks** pane:

1. Select **Assign AZ and Networks**.
1. Under **Balance other jobs**, select all AZs. <%= vars.ops_manager %> balances instances of jobs with more than one instance across the AZs that you
specify.
    <p> For production deployments, <%= vars.company_name %> recommends at least three AZs for a highly available
      installation of <%= vars.app_runtime_abbr %>.</p>

1. From the **Network** drop-down menu, select the network where you want to run <%= vars.app_runtime_abbr %>.

1. Click **Save**.
