---
title: Deploying TAS for VMs to AVS
owner: Ops Manager
---

You can install <%= vars.app_runtime_first %> on Azure VMware Solution (AVS) with NSX-T internal networking, using the
VMware NSX-T Container Plug-in.

AVS provides you with private clouds that contain vSphere clusters built from dedicated bare-metal Azure infrastructure.

AVS is a VMware-validated solution with ongoing validation and testing of enhancements and upgrades. Microsoft Corporation manages and maintains private cloud infrastructure and software.

For more information about AVS, see the [Azure VMware Solution documentation](https://docs.microsoft.com/en-us/azure/azure-vmware/).

All provisioned private clouds have vCenter Server, vSAN, vSphere, and NSX-T.

Deploying <%= vars.app_runtime_abbr %> to AVS is similar to traditional <%= vars.app_runtime_abbr %> deployments on vSphere, but there are a few minor differences due to the way that AVS deploys vSphere components.

To install NSX-T to run with <%= vars.app_runtime_abbr %>:

1. [Configure NSX-T to Integrate with <%= vars.app_runtime_abbr %>](#nsx-t-setup)

1. [Activate NSX-T Mode in the BOSH Director](#nsx-t-mode)

1. [Configure <%= vars.app_runtime_abbr %> for External Container Networking](#external-net)

1. [Install and Configure the NSX-T Container Plug-in](#nsx-t-tile)

## <a id='requirements'></a> Prerequisites

Before deploying <%= vars.app_runtime_abbr %> with NSX-T networking, you must have:

* BOSH and <%= vars.ops_manager %> installed and configured on vSphere. For more information, see [Deploying <%= vars.ops_manager %> on vSphere](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/vsphere-deploy.html) and [Configuring BOSH Director on vSphere](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/vsphere-config.html).

* The [VMware NSX-T Container Plug-in tile](https://network.tanzu.vmware.com/products/vmware-nsx-t) downloaded from VMware Tanzu Network and imported to the <%= vars.ops_manager %> Installation Dashboard. For information about downloading and importing VMware Tanzu products to the Installation Dashboard, see [Adding and Importing Products](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-add-delete.html#add-import).

* The [<%= vars.app_runtime_abbr %> tile](https://network.tanzu.vmware.com/products/elastic-runtime) downloaded from VMware Tanzu Network and imported to the <%= vars.ops_manager %> Installation Dashboard. The <%= vars.app_runtime_abbr %> tile must be configured but not deployed yet. Configure the tile for the first time, but do not click **Review Pending Changes** or **Apply Changes**.

* The URLs and user credentials for your AVS private cloud vCenter and NSX-T Manager. See [Connect to the local vCenter of your private cloud](https://docs.microsoft.com/en-us/azure/azure-vmware/tutorial-access-private-cloud#connect-to-the-local-vcenter-of-your-private-cloud) in the AVS documentation.

## <a id='nsx-t-setup'></a> Configure NSX-T to integrate with <%= vars.app_runtime_abbr %>

To set up NSX-T to integrate with <%= vars.app_runtime_abbr %>, complete these procedures:

* [Regenerate NSX-T Management TLS Certificate with a Valid SAN](#regenerate-nsx-t-cert)

* [Configure Logical Switches](#nsx-t-logical-switches)

* [Configure Routers](#nsx-t-routers)

* [Configure Load Balancer](#nsx-t-load-balancer)

### <a id='regenerate-nsx-t-cert'></a> Regenerate NSX-T management TLS certificate with a valid SAN

The AVS-deployed NSX-T Manager includes a self-signed TLS certificate with an invalid Subject Alternative Name (SAN). This causes issues when connecting from VMware Tanzu Operations Manager and the BOSH Director, so you must create a new certificate using the NSX-T Manager's fully qualified domain name (FQDN) or IP address as the new SAN.

For instructions, see [Generate and Register the NSX-T Management TLS Certificate and Private Key](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.12/tkgi/GUID-nsxt-install-tls-certs.html) in the <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) documentation.

### <a id='nsx-t-logical-switches'></a> Configure segments

To configure segments:

1. In vSphere, create logical network switches to correspond to the networks that your foundation uses.
1. Log in to the **NSX-T Manager Dashboard**.
2. Go to **Advanced Networking & Security**.
3. Go to the **Segment** page.
4. For each of these networks:
    * **Infrastructure** (BOSH and <%= vars.ops_manager %>, defined in the **Assign AZs and Networks** pane of the BOSH Director tile)
    * **Deployment** (<%= vars.app_runtime_abbr %>, defined in the **Assign AZs and Networks** pane of the <%= vars.app_runtime_abbr %> tile)
    * **Services** and **Dynamic Services** (marketplace services and on-demand services, also defined in the <%= vars.app_runtime_abbr %> tile)
    * **Isolation Segment** (optional, defined in the **Assign AZs and Networks** pane of the Isolation Segment tile)

    Do the following:
        <ol>
            <li>Click **+Add**.</li>
            <li>Enter a name for the segment (such as `<%= vars.app_runtime_abbr %>-Infrastructure`, `<%= vars.app_runtime_abbr %>-Deployment`).</li>
            <li>Click **Add**.</li>
        </ol>

![alt-text="Add a new segment."](./images/nsx-t/nsx-t-logical-switch.png)

### <a id='nsx-t-routers'></a> Configure gateways

   Create T1 gateways for <%= vars.app_runtime_abbr %>, to connect from the T0 gateways.
   For each <%= vars.app_runtime_abbr %> network, Infrastructure, Deployment, and so on, create a T1 gateways as follows:

1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Routing** > **Gateways**.
2. Click **+Add** > **Tier-1 Gateways**.
3. Configure the gateway to include the Edge Cluster. They are required to enable the Load Balancer.

 The Infrastructure network gateway configuration might look like the following image:

![alt-text="Add a Tier 1 Gateway and configure it."](./images/nsx-t/nsx-t-t1-router.png)

Create T1 gateway downlink ports for <%= vars.app_runtime_abbr %>.

For each T1 gateway you created, add a **New Router Port** to allow traffic in and out:

1. In the NSX-T Manager UI, select the T1 gateway.
2. Click **Edit** in the hamburger icon.
3. Go to **Services Interface**.
4. Click **Set**.
5. For **Segments**, enter the name of the segment you defined for the network in **Add New Segments**.
6. For **IP Address**, use the first IP of the appropriate subnet. In this example, 192.168.1.0/24 is set aside for Infrastructure (<%= vars.ops_manager %> and BOSH Director), and 192.168.2.0/24 for the Deployment, so 192.168.1.1 and 192.168.2.1 are used respectively.
![alt-text="New Router port"](./images/nsx-t/nsx-t-router-port.png)

1. Advertise the routes of the T1 gateways to the T0 gateway, so the T0 gateway can correctly route incoming requests based on their destination IP address:
2. Click Gateway in the list.
3. Click the More Options menu and select Edit.
4. Expand **Route Advertisement**.
   1. Turn on **All Connected Segments & Service Ports** by using the green switch.
   2. Turn on All IPSec Local Endpoints.
   3. Turn on **All LB VIP Routes** by using the green switch(necessary if Load Balancing service is configured).
![alt-text="Edit the Route Advertisement Configuration"](./images/nsx-t/nsx-t-route-advertise.png)

1. Navigate to IP Address Pools.
2. Click IP Address Pools in the navigation.
3. Click IP Address Blocks to allocate an IP block for <%= vars.app_runtime_abbr %> orgs.
4. Add IP Address Block.
5.  Enter a name (for example, `<%= vars.app_runtime_abbr %>-container-ip-block`). This IP block name is also used in the **VMware NSX-T** tile in the **NCP** section under **IP Blocks of Container Networks**.
4. Enter a description, such as `Subnets are allocated from this pool to each newly-created org`.
5. Enter a CIDR to allocate an address block large enough to accommodate all <%= vars.app_runtime_abbr %> apps. A `/14` CIDR is large enough for ~1,000 Orgs with ~250 apps each. If you are planning such a large foundation, see [VMware NSX-T <%= vars.app_runtime_abbr %> limits](https://configmax.vmware.com/guest?vmwareproduct=VMware%20NSX-T&release=NSX-T%20Data%20Center%202.4.0&categories=31-0) in the VMware documentation.

![alt-text="Add a new IP block."](./images/nsx-t/nsx-t-ip-block.png)

### <a id='nsx-t-load-balancer'></a> Configure load balancer

To configure a load balancer:

   Create Active Health Monitors (health checks) for use by the virtual server later on.

In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Monitors** > **Active Health Monitors**.

Create the health monitor for web load balancing:

1. Click **+Add**.
    1. Enter **Monitor Properties**:
        * **Name**: `pas-web-monitor`
        * **Health Check Protocol**: `LbHttpMonitor`
        * **Monitoring Port**: 8080
    2. Click **Next**.
    3. Enter **Health Check Parameters**:
        * **HTTP Method**: `GET`
        * **HTTP Request URL**: `/health`
        * **HTTP Response Code**: 200
    4. Click **Finish**.

Create the health monitor for TCP load balancing:

1. Click **+Add**.
2. Enter **Monitor Properties**:
        - **Name**: `pas-tcp-monitor`
        - **Health Check Protocol**: `LbHttpMonitor`
        - **Monitoring Port**: 80
3. Click **Next**.
4. Enter **Health Check Parameters**:
        - **HTTP Method**: `GET`
        - **HTTP Request URL**: `/health`
        - **HTTP Response Code**: 200

Create the health monitor for SSH load balancing:

1. Click **+Add**.
2. Enter **Monitor Properties**:
        - **Name**: `pas-ssh-monitor`
        - **Health Check Protocol**: `LbTcpMonitor`
        - **Monitoring Port**: 2222
        -
3. Click **Next**, then click **Finish**.

Create server pools (collections of VMs which handle traffic) for use by the virtual server:

1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Server Pools**.

2. Create the server pool for web load balancing:
    1. Click **+Add** to add a new pool.
    2. Enter **General Properties**:
        * **Name**: `pas-web-pool`
    3. Click **Next**.
    4. Enter **SNAT Translation**:
        * **Translation Mode**: `IP List`
        * Enter a range of available IPs for SNAT translation. By default, ports from `4000` to `64000` are for all configured SNAT IP addresses. Allocate enough IPs to handle your traffic load. Without enough IPs, the SNAT port is exhausted.
    5. Click **Next**.
    6. Enter **Pool Members**:
        * **Membership Type**: `Static`
    7. Click **Next**.
    8. Enter **Health Monitors**:
        * **Active Health Monitor**: `pas-web-monitor`
    9. Click **Finish**.

Create the server pool for TCP load balancing:

1. Click **+Add** to add new pool.
2. Enter **General Properties**:
        - **Name**: `pas-tcp-pool`
3. Click **Next**.
4. Enter **SNAT Translation**:
        - **Translation Mode**: `Transparent`
5. Click **Next**.
6. Enter **Pool Members**:
        - **Membership Type**: `Static`
7. Click **Next**.
8. Enter **Health Monitors**:
        - **Active Health Monitor**: `pas-tcp-monitor`
9. Click **Finish**.

Create the server pool for SSH load balancing:

1. Click **+Add** to add new pool.
2. Enter **General Properties**
   Name: pas-ssh-pool
3. Click Next.
4. Enter SNAT Translation:
Translation Mode: Transparent
1. Click Next.
1. Enter Pool Members:
Membership Type: Static
1. Click Next.
1. Enter Health Monitors:
Active Health Monitor: pas-ssh-monitor
1. Click Finish.
        - **Name**: `pas-ssh-pool`
    1. Click **Next**.
    2. Enter **SNAT Translation**:
        * **Translation Mode**: `Transparent`
    3. Click **Next**.
    4. Enter **Pool Members**:
        * **Membership Type**: `Static`
    5. Click **Next**.
    6. Enter **Health Monitors**:
        * **Active Health Monitor**: `pas-ssh-monitor`
    7. Click **Finish**.

Create virtual servers.

1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Virtual Servers**.
1. Create the virtual server which forwards unencrypted web (HTTP) traffic to the foundation:
<p class="note important">
<span class="note__title">Important</span>
Foundations requiring end-to-end encryption cannot activate the virtual
server on port 80, or, if activated, configure it to redirect traffic to the encrypted port (443).
</p>

  1. Click **+Add**.
  2. Enter **General Properties**:
      * **Name**: `pas-web-vs`
      * **Application Type**: `Layer 4 (TCP)`
      * **Application Profile**: `nsx-default-lb-fast-tcp-profile`
  3. Click **Next**.
  4. Enter **Virtual Server Identifiers**:
      * **IP Address**: use the address of the DNS record of `*.system.YOUR-SYSTEM-DOMAIN.com`
      * **Port**: `80,443`
  5. Enter **Server Pool and Rules**:
      * **Default Server Pool**: `pas-web-pool`
  6. Click **Next** several times, then click **Finish**.

Create the virtual server which forwards traffic to apps with custom ports to the foundation:

1. Click **+Add** to add a new virtual server.
2. Enter **General Properties**:
      * **Name**: `pas-tcp-vs`
      * **Application Type**: `Layer 4 (TCP)`
      * **Application Profile**: `nsx-default-lb-fast-tcp-profile`
3. Click **Next**.
4. Enter **Virtual Server Identifiers**:
      * **IP Address**: use the address of the DNS record of `tcp.apps.YOUR-SYSTEM-DOMAIN.com`
      * **Port**: use the same ports as configured in the **<%= vars.app_runtime_abbr %> Tile** > **Networking** > **TCP Routing Ports**, e.g. `1024-1123,5900`
5. Click **Next**.
6. Enter **Server Pool and Rules**:
        * **Default Server Pool**: `pas-tcp-pool`
7. Click **Next**, then click **Finish**.

Create the virtual server which forwards SSH traffic to the foundation:

1. Click **+Add** to add a new virtual server.
2. Enter **General Properties**:
      * **Name**: `pas-ssh-vs`
      * **Application Type**: `Layer 4 (TCP)`
      * **Application Profile**: `nsx-default-lb-fast-tcp-profile`
3. Click **Next**.
4. Enter **Virtual Server Identifiers**:
      * **IP Address**: use the address of the DNS record of `ssh.system.YOUR-SYSTEM-DOMAIN.com`
      * **Port**: `2222`
5. Click **Next**.
6. Enter **Server Pool and Rules**:
       * **Default Server Pool**: `pas-ssh-pool`
7. Click **Next**, then click **Finish**.

Create the load balancer:

1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Load Balancers**.
    1. Click **+Add**.
    2. Enter the fields:
        * **Name**: `pas-lb`
        * **Load Balancer Size**: Choose `Small` unless you have a larger Foundation
    3. Click **OK**.
9. Select `pas-lb`.
10. Click **Actions** > **Attach to a Virtual Server**, and then select `pas-web-vs`. Repeat this procedure for the Virtual Servers `pas-tcp-vs` and `pas-ssh-vs`.
11. Click **Action** > **Attach to a Logical Router**, and then select `T1-Router-<%= vars.app_runtime_abbr %>-Deployment`.

## <a id='nsx-t-mode'></a> Enable NSX-T mode in the BOSH Director

To activate NSX-T mode in the BOSH Director:

1. From the <%= vars.ops_manager %> **Installation Dashboard**, click the **BOSH Director** tile.

1. In the **vCenter Configs** pane, click the pencil icon for the vCenter Config that you want to edit.

1. Select **NSX Networking**.

1. Configure BOSH Director authentication to the NSX Manager by following the **NSX Networking** instructions
in the [Step 2: Configure vCenter](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/vsphere-config.html#step-2-configure-vcenter-2) section of _Configuring BOSH Director on vSphere_.

## <a id='external-net'></a> Configure <%= vars.app_runtime_abbr %> for external container networking

To configure <%= vars.app_runtime_abbr %> for external container networking:

1. If you have not already done so, download the <%= vars.app_runtime_abbr %> tile from [VMware Tanzu Network](https://network.tanzu.vmware.com/products/elastic-runtime) and import it to the **Installation Dashboard**. For instructions, see [Adding and Importing Products](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-add-delete.html#add-import).
![alt-text="Installation Dashboard with NSX-T tile"](./images/nsx-t/nsx-t-install-dash.png)

1. Configure <%= vars.app_runtime_abbr %>, following the directions in [Configuring <%= vars.app_runtime_abbr %>](./prerequisites.html). When you configure **Networking**, select **External** under **Container networking interface plugin**.<br>
![alt-text="Configure the NSX-T tile."](./images/nsx-t/nsx-t-pas-cni.png)

1. Update the server pool membership for the NSX-T load balancers:

    1. Open the **BOSH Director for vSphere** tile > **Resource Config** pane.
    2. Click the arrow next to each job to reveal the **NSX-T CONFIGURATION** column. See [Step 10: Resource Config Pane](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/vsphere-config.html#step-10-resource-config-pane-10) in _Configuring BOSH Director on vSphere_.
    3. Under **Logical Load Balancer**, enter a JSON-formatted structure to defining a list of `server_pools`  a VM extension for each of the three server pools: `pas-web-pool`, `pas-tcp-pool`, and `pas-ssh-pool`.

## <a id='nsx-t-tile'></a> Install and configure the NSX-T container plug-in

To install and configure the NSX-T Container Plug-In tile:

1. If you have not already done so, download the VMware NSX-T Container Plug-in tile from [VMware Tanzu Network](https://network.tanzu.vmware.com/products/vmware-nsx-t) and import it to the **Installation Dashboard**. For instructions, see [Adding and Importing Products](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-add-delete.html#add-import).

    ![alt-text="Tanzu Operations Manager Installation Dashboard with NSX-T tile."](./images/nsx-t/nsx-t-install-dash.png)

2. Click the **VMware NSX-T** tile to open its **Settings** tab, and configure the **NSX Manager** pane as follows:

    * **NSX Manager Address**: The NSX-T Manager host address or IP address.
    * **Use Client Certificates or Username/Password**: Configure this setting as follows:
        <ol>
            <li>If you are using VMware Workspace ONE Access, formerly called VMware Identity Manager (vIDM), then select <strong>Client Certificate Authentication</strong>.</li>
            <li>Otherwise, select <strong>Basic Authentication with Username and Password</strong> and enter <strong>NSX Manager Admin Username</strong> and <strong>Admin Password</strong> credentials in the fields underneath.</li>
        </ol>
    * **NSX Manager CA Cert**: Obtain this certificate from NSX-T Manager as follows:
        <ol>
            <li>SSH into NSX-T Manager using the admin account that you created when you deployed NSX-T Manager.</li>
            <li>From the NSX-T Manager command line, run <code>get certificate api</code> to retrieve the certificate.</li>
        </ol>
    ![alt-text="Obtain the NSX Manager CA Cert"](./images/nsx-t/nsx-t-tile-config-mgr.png)

3. Open and configure the **NCP** (NSX-T Container Plugin) pane as follows:

    * **<%= vars.app_runtime_abbr %> Foundation Name**: If unsure, use `<%= vars.app_runtime_abbr %>`. If multiple foundations co-exist on the same NSX-T Manager, choose a unique string, such as `<%= vars.app_runtime_abbr %>-beta`. NCP creates artifacts, such as T1 routers and prefixes their names with this string for easy identification.
    * **Overlay Transport Zone**: A uniquely identifying string for the **Transport Zone** that you chose when you [created segments](#nsx-t-setup) for each network. This can be the name of the transport zone if no other zones in NSX-T share the same name, or else the UUID for the transport zone.
    * **Tier-0 Router**: A uniquely identifying string for the T0 router. This can be the tag string that you gave the router in NSX-T Manager if no other T0 routers in NSX-T share the same name, or else the UUID for the router.
    * **Subnet Prefix of Container Networks**: Subnet mask to set the address range size for apps in a single org. Defaults to `24`. This number must be higher than the mask for all <%= vars.app_runtime_abbr %> orgs in the NSX-T Manager **New IP Block** pane, to define each org's fraction of the total <%= vars.app_runtime_abbr %> address space.
    * **Enable SNAT for Container Network**: Select  this check box.

    ![alt-text="NSX-T tile config: NCP"](./images/nsx-t/nsx-t-tile-config-ncp.png)

4. In the **NSX Node Agent** pane, select the **Enable Debug Level of Logging for NSX Node Agent** check box.
    ![alt-text="Enable the Debug Level of Logging for NSX Node Agent."](./images/nsx-t/nsx-t-tile-config-agent.png)

5. Click **Save** and return to the **Installation Dashboard**.

6. After you have configured both the **<%= vars.app_runtime_abbr %>** tile and the **VMware NSX-T** tile, click **Review Pending Changes**.
7. Click **Apply Changes** to deploy <%= vars.app_runtime_abbr %> with NSX-T networking.
