---
title: Configuring TAS for VMs
owner: PAS Releng
deployment: TAS
---

Here are instructions for configuring <%= vars.app_runtime_first %>.

## <a id='prereqs'></a> Prerequisites

Before you begin this procedure, you must:

* Ensure that you have successfully completed the steps to prepare your environment for <%= vars.platform_name %> and install and configure the BOSH Director. For more information, see the [<%= vars.ops_manager_full %> configuration topic for your IaaS](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/pcf-interface.html).

* If you plan to install the <%= vars.platform_name %> IPsec add-on, you must do so before installing any other tiles. <%= vars.company_name %> recommends installing IPsec immediately after <%= vars.ops_manager %> and before installing the <%= vars.app_runtime_abbr %> Runtime tile. For more information, see [Installing the IPsec for VMware Tanzu](https://docs.vmware.com/en/IPsec-for-VMware-Tanzu/1.9/documentation/GUID-installing.html).

## <a id='om-add'></a> Add <%= vars.app_runtime_abbr %> to <%= vars.ops_manager %>

Before you can configure <%= vars.app_runtime_abbr %>, you must add the <%= vars.app_runtime_abbr %> tile to your <%= vars.ops_manager %> Installation Dashboard.

To add the <%= vars.app_runtime_abbr %> tile to your <%= vars.ops_manager %> Installation Dashboard:

1. If you have not already downloaded <%= vars.app_runtime_abbr %>, log in to [<%= vars.product_network %>](https://network.tanzu.vmware.com/) and click **<%= vars.app_runtime_full %>**.

1. From the **Releases** drop-down menu, select the release to install and choose one of the following:
1. Click **<%= vars.app_runtime_full %>** to download the Pivotal Application Service `.pivotal` file.
2. Click **Small Footprint <%= vars.app_runtime_abbr %>** to download the Small Footprint TAS for VMs `.pivotal` file. For more information, see [Getting Started with Small Footprint <%= vars.app_runtime_abbr %>](./small-footprint.html).

2. Go to the <%= vars.ops_manager %> Installation Dashboard.

3. Click **Import a Product** to add your tile to <%= vars.platform_name %>. For more information, see [Adding and Deleting Products](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-add-delete.html).

4. Click the **VMware Tanzu Application Service for VMs** tile in the Installation Dashboard.


## <a id='assign-azs-networks'></a> Assign AZs and networks

<p> For Azure environments, this configuration pane is <strong>Assign Networks</strong> and does not include AZ
  configuration.</p>

1. Select **Assign AZ and Networks**. These are the Availability Zones (AZs) that you create when configuring BOSH Director.

1. Under **Place singleton jobs**, select an AZ. <%= vars.ops_manager %> runs any job with a single instance in this AZ.

1. Under **Balance other jobs**, select all AZs. <%= vars.ops_manager %> balances instances of jobs with more than one instance across the AZs that you
specify.
    <p> For production deployments, <%= vars.company_name %> recommends at least three AZs for a highly available
      installation of <%= vars.app_runtime_abbr %>.</p>

1. From the **Network** drop-down menu, select the network where you want to run <%= vars.app_runtime_abbr %>.

1. Click **Save**.


## <a id='domains'></a> Configure domains

In the **Domains** pane, you configure a wildcard DNS record for both the apps domain and system domain.

To configure the **Domains** pane:

1. Select **Domains**.

1. Enter the name of your system domain in the **System domain** field. The system domain defines your target when you push apps to <%= vars.app_runtime_abbr %>, such as your load balancer. <%= vars.app_runtime_abbr %> assigns system components such as UAA and Apps Manager to subdomains under this domain.

1. Enter the name of your apps domain in the **Apps domain** field. The apps domain is the default domain that apps use for their hostnames. <%= vars.app_runtime_abbr %> hosts each app at subdomains under this domain. You can use the Cloud Foundry Command Line Interface (cf CLI) to add or delete subdomains assigned to individual apps.

1. Click **Save**.

For additional guidance based on your installation method, see the table below:

| Installation Method | Guidance |
|---------------------|----------|
| Manual | Enter the domains you created when preparing your environment for <%= vars.platform_name %>. |
| Terraform | Enter the values for `sys\_domain` and `apps\_domain` from the Terraform output. |
 
 <%= vars.company_name %> recommends that you use the same domain name but different subdomain names for your system and app domains. Doing so allows you to use a single wildcard certificate for the domain while preventing apps from creating routes that overlap with system routes.

## <a id='networking'></a> Configure networking

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/networking-main" %>

## <a id='application-containers-config'></a> Configure app containers

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/application_container_config" %>

## <a id='appdevctrl-config'></a> Configure app developer controls

In the **App Developer Controls** pane, you configure restrictions and default settings for your apps.

To configure the **App Developer Controls** pane:

1. Select **App Developer Controls**.

1. For **Maximum staged droplet size**, enter in MB the maximum allowed size of a staged app droplet.

1. For **Maximum package size**, enter in B the maximum allowed total size of all files in an app.

1. For **Default app memory**, enter in MB the default amount of memory you want to allocate to a newly-pushed app if no value is specified with `cf push`.

1. For **Default app memory quota per org**, enter in MB the default memory limit you want to define for all apps in an org. The limit you configure in this
field only applies to the first installation of <%= vars.app_runtime_abbr %>. After the initial installation, operators can change the default value through
the cf CLI.

1. For **Maximum disk quota per app** in MB, enter in MB the maximum amount of disk allowed per app.

 <p> If you allow developers to push large apps, <%= vars.app_runtime_abbr %> might have trouble placing them on Diego
  Cells. Additionally, in the event of a system upgrade or an outage that causes a rolling deploy, larger apps might not successfully redeploy if there is
  insufficient disk capacity. Monitor your deployment to ensure that your Diego Cells have sufficient disk to run your apps.</p>

1. For **Default disk quota per app**, enter in MB the amount of disk you want to allocate by default to a newly-pushed app if no value is specified with `cf
push`.

1. For **Default log rate limit per app**, enter in bytes per second number of log lines that a newly-pushed app is allowed to generate when no number is
specified at push.

1. For **Default service instance quota per org**, enter the default service instance limit you want to define for all apps in an org. The limit you configure
in this field only applies to the first installation of <%= vars.app_runtime_abbr %>. After the initial installation, operators can change the default value
through the cf CLI.

1. For **Staging timeout**, enter in seconds the amount of time  When you stage an app droplet with the Cloud Controller, the server times out after the
number of seconds you specify in this field.

1. For **Internal domains**, enter one or more domains that apps use for internal DNS service discovery. If you specify a domain using `cf push -d`, other
<%= vars.app_runtime_abbr %> apps can reach the pushed app at `APP-NAME.INTERNAL-DOMAIN`. This value defaults to `apps.internal`.

1. (Optional) To allow developers to manage their own network policies for their apps, select the **Allow space developers to manage network policies**
check box.

1. Click **Save**.


## <a id='app-security'></a> Configure App Security Groups

Setting appropriate ASGs is critical for a secure deployment. To acknowledge that once the <%= vars.app_runtime_abbr %> deployment completes, it is your
responsibility to set the appropriate ASGs:

1. Select **App Security Groups**.

1. For **You are responsible for setting the appropriate ASGs after TAS for VMs finishes deploying.**, enter `X`.

1. Click **Save**.

For more information about ASGs, see [App Security Groups](../concepts/asg.html). For more information about setting ASGs, see [Restricting App Access to Internal <%= vars.app_runtime_abbr %> Components](../operating/app-sec-groups.html).

## <a id='auth-config'></a> Configure authentication and enterprise SSO

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/authsso_config" %>

## <a id='uaa'></a> Configure UAA

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/uaa" %>

## <a id='credhub'></a> Configure CredHub

In the **CredHub** pane, you configure the CredHub server.

To configure the **CredHub** pane:

1. Select **CredHub**.

1. Under **CredHub database location**, select the location of your CredHub database. <%= vars.app_runtime_abbr %> includes this CredHub database for services to store their service instance credentials.
    * **TAS for VMs database**: If you select this option, CredHub uses the same database as other <%= vars.app_runtime_abbr %> components, whether the database is internal or external. You configure this database in the **Databases** pane.
    * **External database**: If you select this option, configure these fields:
        * **Hostname:** Enter the IP address of your database server.
        * **TCP port:** Enter the port of your database server, such as `3306`.
        * **Username:** Enter a unique username to use to access your UAA database on the database server.
        * **Password:** Enter the password for the provided username.
        * **CA certificate:** This certificate is used when encrypting traffic to and from the UAA database.
        * **Skip hostname verification:** Select if you don't want CredHub to verify the identity of your database server during TLS connections.You cannot deactivate hostname verification for TLS connections to Postgres databases. You must select this option if you are configuring an external database on GCP or Azure.

      <p> If you deploy <%= vars.app_runtime_abbr %> on AWS using Terraform, you can locate these values in your Terraform output:
          <ul>
            <li><strong>Hostname:</strong> <code>rds_address</code></li>
            <li><strong>TCP port:</strong> <code>rds_port</code></li>
            <li><strong>Username:</strong> <code>rds_username</code></li>
            <li><strong>Password:</strong> <code>rds_password</code></li>
          </ul>
      </p>

1. (Optional) Under **KMS plug-in providers**, specify one or more Key Management Service (KMS) providers:
    * **Instance name:** Enter the name of the KMS provider.
    * **Endpoint:** Enter the Unix socket address for the KMS plug-in.
    * **Primary:** Select the **Primary** check box to indicate the primary KMS provider for your environment. You must mark one provider as primary. Do not mark more than one provider as primary.

3. Under **Internal encryption provider keys**, specify one or more keys to use for encrypting and decrypting the values stored in the CredHub database.
    * If you plan to use internal encryption, configure these fields:
        * **Name:** Enter any key name.
        * **Key:** Enter a randomly generated value that is at least 20 characters long. This key is used for encrypting all data.
        * **Primary:** This check box marks the key you specified as the primary encryption key. You must mark one key as primary. Do not mark more than one key as primary.
    * If you plan to use a hardware security module (HSM) as your encryption provider, configure these fields:
        * **Name:** Enter a key name that already exists on your HSM or a new key name. For each new key name, CredHub generates a key in **HSM provider partition** that you configure.
        * **Key:** Enter a placeholder value under **Key**. CredHub does not use this key for encryption. However, you cannot leave the **Key** field blank.
        * **Primary:** This check box is used for marking the key you specified as the primary encryption key. You must mark one key as primary. Do not mark more than one key as primary.
    <p> For information about using additional keys for key rotation, see <a href="credential-rotation.html">Rotating Runtime CredHub Encryption Keys</a>.</p>

4. (Optional) To configure CredHub to use an HSM, configure these fields:
    * **HSM provider partition:** Enter the name of the HSM provider partition.
    * **HSM provider partition password:** Enter a password to use to access the HSM provider partition.
    * **HSM provider client certificate:** Enter the client certificate for the HSM. For more information, see [Create and Register HSM Clients](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-hsm-config.html#create-register-hsm) in _Preparing CredHub HSMs for Configuration_.
    * Under **HSM provider encryption keys**, specify one or more keys to use for encrypting and decrypting the values stored in the HSM provider. For each key, configure these fields:
        * **Name:** Enter the name of the encryption key.
        * **Primary:** This check box is used for marking the key you specified as the primary encryption key. You must mark one key as primary. Do not mark more than one key as primary.
    * In the **HSM provider servers** section, click **Add** to add an HSM server. You can add multiple HSM servers. For each HSM server, configure these fields:
        * **Host address:** Enter the hostname or IP address of the HSM server.
        * **Port:** Enter the port of the HSM server. If you do not know your port address, enter `1792`.
        * **Partition serial number:** Enter the serial number of the HSM partition.
        * **HSM certificate:** Enter the certificate for the HSM server. The HSM presents this certificate to CredHub to establish a two-way TLS connection.

2. If your deployment uses any <%= vars.platform_name %> services that support storing service instance credentials in CredHub and you want to activate this feature, select the **Secure service instance credentials** check box. For more information about using CredHub for securing service instance credentials, see [Securing Service Instance Credentials with Runtime CredHub](secure-si-creds.html).

6. Click **Save**.

7. Go to the **Resource Config** pane.

8. Under the **Job** column of the **CredHub** row, ensure that the number of instances is set to `2`. This is the minimum instance count required for high availability.

9. To configure UAA so it detects a proxy, complete the following fields:
    * **Proxy servers**: Enter a comma-separated list of router IP addresses for the first group of HTTP/TCP backends.
    * **HTTP proxy URL**: Enter the `http_proxy` for all HTTP requests across VMs.
    * **HTTPS proxy URL**: Enter the `https_proxy` for all HTTPS requests across VMs
    * **Excluded hosts**: Enter a comma-separated list of domains, IP addresses, or DNS suffixes to exclude from proxying.

10. Click **Save**.

## <a id='sys-db'></a> Configure databases

In the **Databases** pane, you can configure <%= vars.app_runtime_abbr %> to use an internal MySQL database provided with <%= vars.platform_name %>, or you can configure an external database provider for the databases required by <%= vars.app_runtime_abbr %>.

<p> If you are performing an upgrade, do not modify your existing internal database configuration, or you might lose data. You must migrate your existing data first before changing the configuration. For additional upgrade information, see <a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-upgrading-pcf.html">Upgrading <%= vars.platform_name %></a>.</p>

### <a id='internal-db'></a> Configure an internal database

<p> For GCP installations, <%= vars.company_name %> recommends selecting <strong>External</strong> and using Google Cloud SQL. Only use internal MySQL for non-production or test installations on GCP.</p>

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/ert_database_internal" %>

To configure high availability for your internal MySQL databases, see [Configure Internal MySQL](#internal-mysql).

### <a id='create-dbs'></a> Configure an external database

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/ert_database_external" %>

## <a id='internal-mysql'></a> Configure internal MySQL (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/mysql_proxy_config" %>

## <a id='file-storage'></a> Configure File Storage

<p class="note important">
  <span class="note__title">Important</span> Some blobstores, for example, Oracle Cloud Infrastructure Object Storage, do not support S3 Signature v4 Streaming. To use blobstores without S3 Signature v4 Streaming support with VMware Tanzu Application Service for VMs, deselect the Signature v4 streaming check box.</p>

  For more information, see [AWS-S3 Signature v4 Streaming](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-streaming.html).

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/max_droplets_packages_config" %>

## <a id='sys-logging'></a> Configure system logging (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/system_logging" %>

## <a id='customize-apps-man'></a> Configure custom branding and Apps Manager (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/custombranding" %>

## <a id='smtp'></a> Configure email notifications (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/email-notifs" %>

## <a id='config-autoscaler'></a> Configure App Autoscaler (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/app-autoscaler" %>

## <a id='config-cc'></a> Configure Cloud Controller

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/cloud-controller" %>

## <a id='config-smoke-test'></a> Configure smoke tests

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/smoketests" %>

## <a id='advanced'></a> Configure advanced features (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/advanced-features" %>

## <a id='metric-registrar'></a> Configure Metric Registrar (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/metric-registrar" %>

## <a id='errands'></a> Configure errands

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/errands" %>

## <a id='resources'></a> Configure resources

In the **Resource Config** pane, you must associate load balancers with the VMs in your deployment to allow the VMs to receive traffic. For more information,
see [Configure Load Balancing for <%= vars.app_runtime_abbr %>](configure-lb.html).

### <a name='scale-down'></a> Scale down and deactivate resources (Optional)

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/disable_resources" %>

## <a id='stemcell'></a> Download stemcell

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/download-stemcell" %>

## <a id='complete'></a> Complete the <%= vars.app_runtime_abbr %> installation

To complete your installation of <%= vars.app_runtime_abbr %>:

1. Click the **Installation Dashboard** link to return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**. The install process generally takes a minimum of 90 minutes to complete. When the installation process completes successfully, the
**Changed Applied** window appears.

1. Click **Close** or **Return to Installation Dashboard**.

    ![alt-text="The Changes Applied window is shown when the process is completed."](images/cloudform/ops-manager-complete.png)
