---
title: Domains
owner: PAS Releng
---

<a id='domains'></a>

In the **Domains** pane, you configure a wildcard DNS record for both the apps domain and system domain.

To configure the **Domains** pane:

1. Select **Domains**.

2. Enter the name of your system domain in the **System domain** field. The system domain defines your target when you push apps to <%= vars.app_runtime_abbr %>, such as your load balancer. <%= vars.app_runtime_abbr %> assigns system components such as UAA and Apps Manager to subdomains under this domain.

3. Enter the name of your apps domain in the **Apps domain** field. The apps domain is the default domain that apps use for their hostnames. <%= vars.app_runtime_abbr %> hosts each app at subdomains under this domain. You can use the Cloud Foundry Command Line Interface (cf CLI) to add or delete subdomains assigned to individual apps.

4. Click **Save**.

For additional guidance based on your installation method, see the table below:

| Installation Method | Guidance |
|---------------------|----------|
| Manual | Enter the domains you created when preparing your environment for <%= vars.platform_name %>. |
| Terraform | Enter the values for `sys\_domain` and `apps\_domain` from the Terraform output. |

 <%= vars.company_name %> recommends that you use the same domain name but different subdomain names for your system and app domains. Doing so allows you to use a single wildcard certificate for the domain while preventing apps from creating routes that overlap with system routes.

