---
title: Day 2 configurations
---


"Day 2" configurations set up the internal operations and external integrations of a
<%= vars.platform_name %> platform that is newly deployed and running, but not yet ready to use.

Examples include front end configuration, setting up user accounts, configuring logging, monitoring, and internal security
infrastructure, and specifying container and stemcell images.

The topics in the following list describe how to configure various functions of an installed and
running <%= vars.platform_name %> platform, and how integrate them with external systems and resources.

## <a id='front'></a> Perimeter access and security

* [Configuring proxy settings for all apps](./config-proxy.html)

* [Creating a proxy ELB for Diego SSH](./elb-ssh-proxy.html)

* [Supporting websockets](../adminguide/supporting-websockets.html)

* [Enabling TCP routing](../adminguide/enabling-tcp-routing.html)

* [Enabling IPv6 for hosted apps](../adminguide/enabling_ipv6.html)

* [Securing traffic into <%= vars.app_runtime_abbr %>](../adminguide/securing-traffic.html)

* [Using Docker in <%= vars.app_runtime_abbr %>](../adminguide/docker.html)

* [Using Docker registries](./docker-registry.html)

## <a id='accounts'></a> User accounts and permissions

* [Creating and Managing Ops Manager User and Client Accounts](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-opsman-users.html)

* [Configuring RBAC in Ops Manager](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/opsguide-config-rbac.html)

* [Creating <%= vars.app_runtime_abbr %> user accounts](./creating-account.html)

* [Feature flags](../adminguide/listing-feature-flags.html)

* [Configuring UAA password policy](./pw-policy.html)

* [Adding existing SAML or LDAP users](./external-user-management.html)

* [Getting started with the notification service](../adminguide/notifications.html)

* [Creating UAA Clients for BOSH Director](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-opsmanager-create-bosh-client.html)

## <a id='internal'></a> Internal network security

* [Restricting app access to internal <%= vars.platform_name %> components](./app-sec-groups.html)

* [Configuring app security groups for email notifications](./notifications-asg.html)

* [Configuring SSH access for <%= vars.platform_name %>](./config-ssh.html)

* [IPsec add-on for <%= vars.platform_name %>](https://docs.pivotal.io/addon-ipsec/index.html)

## <a id='monitor'></a> Monitoring

* [Selecting and configuring a monitoring system](../monitoring-metrics.html)

* [Configuring logging in <%= vars.app_runtime_abbr %>](./logging-config-opsman.html)

* [Deploying a nozzle to the Loggregator Firehose](../loggregator/nozzle-tutorial.html)

* [Installing the Loggregator plug-in for cf CLI](../loggregator/cli-plugin.html)

* [Configuring load balancer health checks for <%= vars.app_runtime_abbr %>](../adminguide/configure-lb-healthcheck.html)

 <a id='maintenance'></a> Maintenance and customization

* [Configuring Diego Cell disk cleanup scheduling](./config-cell-cleanup.html)

* [Custom branding Apps Manager](./custom-branding.html)