---
title: Configuring File Storage for TAS for VMs
owner: Releng
---

This topic provides instructions for configuring file storage for <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) based on your IaaS and installation method. See the section that
applies to your use case.

To minimize system downtime, <%= vars.company_name %> recommends using highly resilient and
redundant _external_ filestores for your <%= vars.app_runtime_abbr %> file storage. For more
factors to consider when selecting file storage, see [Configure File Storage]
(configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

<p class="note"><strong>Note:</strong> After initial installation, do not change file storage
  configuration without first migrating existing files to the new provider.</p>


## <a id="internal"></a> Internal File Storage

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_internal" %>


## <a id="aws"></a> AWS

This section describes how to configure file storage for AWS.

<p class="note"><strong>Note:</strong> If you followed the procedure in
  <a href="https://docs.pivotal.io/ops-manager/2-10/aws/prepare-env-manual.html">Preparing
  to Deploy <%= vars.platform_name %> on AWS Manually</a>, you created the necessary resources
  for external S3-compatible file storage.</p>

For production-level <%= vars.platform_name %> deployments on AWS, <%= vars.company_name %>
recommends selecting **External S3-compatible filestore**. For more information about production-level
<%= vars.platform_name %> deployments on AWS, see [AWS Reference Architecture]
(https://docs.pivotal.io/ops-manager/2-10/refarch/aws/aws_ref_arch.html).

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial(:"/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_s3_config", :locals => { :aws => true }) %>


## <a id="gcp"></a> GCP

This section describes how to configure file storage for GCP. Follow the procedure that
corresponds to your installation method:

* [Manual](#gcp-manual)
* [Terraform](#gcp-terraform)

For production-level <%= vars.platform_name %> deployments on GCP, <%= vars.company_name %>
recommends selecting **External Google Cloud Storage**. For more information about production-level
<%= vars.platform_name %> deployments on GCP, see [GCP Reference Architecture]
(https://docs.pivotal.io/ops-manager/2-10/refarch/gcp/gcp_ref_arch.html).

### <a id="gcp-manual"></a> Manual

This section describes how to configure file storage for GCP if you installed <%= vars.platform_name %>
manually.

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_gcp_config" %>

### <a id="gcp-terraform"></a> Terraform

This section describes how to configure file storage for GCP if you installed <%= vars.platform_name %>
with Terraform.

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_gcp_config_terraform" %>


## <a id="azure"></a> Azure

This section describes how to configure file storage for Azure.

For production-level <%= vars.platform_name %> deployments on Azure, <%= vars.company_name %>
recommends selecting **External Azure Storage**. For more information about production-level
<%= vars.platform_name %> deployments on Azure, see [Azure Reference Architecture]
(https://docs.pivotal.io/ops-manager/2-10/refarch/azure/azure_ref_arch.html).

For more factors to consider when selecting file storage, see [Configure File Storage]
(configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_azure_config" %>


## <a id="openstack"></a> OpenStack

For production-level <%= vars.platform_name %> deployments on OpenStack, <%= vars.company_name %>
recommends selecting **External S3-compatible filestore**. For more information about production-level
<%= vars.platform_name %> deployments on Openstack, see [Openstack Reference Architecture]
(https://docs.pivotal.io/ops-manager/2-10/refarch/openstack/openstack_ref_arch.html).

For more factors to consider when selecting file storage, see [Configure File Storage]
(configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial(:"/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_s3_config", :locals => { :aws => false }) %>


## <a id="vsphere"></a> vSphere

For production-level <%= vars.platform_name %> deployments on vSphere, <%= vars.company_name %>
recommends selecting **External S3-compatible filestore** and using an external filestore.
For more information about production-level <%= vars.platform_name %> deployments on vSphere,
see [vSphere Reference Architecture](https://docs.pivotal.io/ops-manager/2-10/refarch/vsphere/vsphere_ref_arch.html).

For more factors to consider when selecting file storage, see [Configure File Storage]
(configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial(:"/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_s3_config", :locals => { :aws => false }) %>
