---
breadcrumb: <%= vars.platform_name %> Documentation
title: Configuring UAA Password Policy
owner: Identity
---

If your <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) deployment uses the internal user store for authentication, you can configure its password policy within the <%= vars.app_runtime_abbr %> tile.


## <a id="config-access"></a> Open the Internal UAA Configuration

To open the internal UAA configuration for your deployment:

1. In a browser, navigate to the fully qualified domain name (FQDN) of your Ops Manager and log in.

1. Click the **<%= vars.app_runtime_abbr %>** tile.

1. Select **Authentication and Enterprise SSO**. For help configuring these fields, see the **Configure Authentication and Enterprise SSO** section of the **Configuring TAS** topic.

  ![alt-text=""](er-config-auth-enterprise-sso-uaa.png)

  * Confirm that the **Internal UAA** option is selected.
  * For **Minimum password length**, enter the minimum number of characters for a valid password.
  * For **Minimum uppercase characters**, enter the minimum number of uppercase characters required for a valid password.
  * For **Minimum lowercase characters**, enter the minimum number of lowercase characters required for a valid password.
  * For **Minimum numerical digits**, enter the minimum number of digits required for a valid password.
  * For **Minimum special characters**, enter the minimum number of special characters required for a valid password.
  * For **Maximum password entry attempts allowed**, enter the maximum number of failures allowed to enter a password within a five-minute timespan before the account is locked.