---
title: TAS for VMs Resource Requirements
owner:
---

The <%= vars.app_runtime_full %> runtime is available in two forms, both available to download from the [VMware Tanzu Application Service for VMs](https://network.tanzu.vmware.com/products/elastic-runtime) page on <%= vars.product_network %>:

* <%= vars.app_runtime_abbr %>
* Small Footprint <%= vars.app_runtime_abbr %>

For more information about the difference and about <%= vars.app_runtime_abbr %> resource requirements, see the following sections:

* [When should you use Small Footprint <%= vars.app_runtime_abbr %>?](#small-footprint)
* [<%= vars.app_runtime_abbr %> requirements](#requirements)

## <a id='small-footprint'></a> When should you use Small Footprint <%= vars.app_runtime_abbr %>?

Use Small Footprint <%= vars.app_runtime_abbr %> for smaller <%= vars.platform_name %> deployments on which you intend to host 2500 or fewer apps, as described in [Limitations](#limits). If you want to use Small Footprint <%= vars.app_runtime_abbr %> in a production environment, ensure the limitations described are not an issue in your use case.

<p> Small Footprint <%= vars.app_runtime_abbr %> is compatible with <%= vars.platform_name %> service tiles.</p>

Small Footprint <%= vars.app_runtime_abbr %> is also ideal for the following use cases:

* **Proof-of-concept installations:** Deploy <%= vars.platform_name %> quickly and with a small footprint for evaluation or testing purposes.

* **Sandbox installations:** Use Small Footprint <%= vars.app_runtime_abbr %> as a <%= vars.platform_name %> operator sandbox for tasks such as testing compatibility.

* **Service tile R&D:** Test a service tile against Small Footprint <%= vars.app_runtime_abbr %> instead of a standard <%= vars.app_runtime_abbr %> deployment to increase efficiency and reduce cost.

### <a id='limits'></a> Small Footprint <%= vars.app_runtime_abbr %> Limitations

Small Footprint <%= vars.app_runtime_abbr %> has the following limitations:

* **Number of app instances:** The tile is not designed to support large numbers of app instances. You cannot scale the number of Compute VMs beyond 10 instances in the **Resource Config** pane. Small Footprint <%= vars.app_runtime_abbr %> is designed to support 2500 or fewer apps.

* **Management plane availability during tile upgrades:** You might not be able to perform management plane operations like deploying new apps and accessing APIs for brief periods during tile upgrades. The management plane is located on the Control VM.

* **App availability during tile upgrades:** If you require availability during your upgrades, you must scale your Compute VMs to a highly available configuration. Ensure sufficient capacity exists to move app instances between Compute VM instances during the upgrade.

## <a id='requirements'></a> <%= vars.app_runtime_abbr %> requirements

The general requirements for deploying and managing an installation
of <%= vars.ops_manager %> and <%= vars.app_runtime_first %> are:

* A wildcard DNS record that points to your Gorouter or load balancer. Also, you can use a service such as xip.io. For example, `203.0.113.0.xip.io`.
  * <%= vars.app_runtime_abbr %> gives each app its own hostname in your app domain.
  * With a wildcard DNS record, every hostname in your domain resolves to the IP address of your Gorouter or load balancer, and you do not have to configure an A record for each app hostname. For example, if you create a DNS record `*.example.com` pointing to your load balancer or Gorouter, every app deployed to the `example.com` domain resolves to the IP address of your Gorouter.

* At least one wildcard TLS certificate that matches the DNS record you set up, `*.example.com`.

* Sufficient IP allocation:
  * One static IP address for one of your Gorouters.
  * One static IP address for each job in the <%= vars.app_runtime_abbr %> tile. For a full list, see the **Resource Config** pane for each tile.
  * One static IP address for each of the following jobs:
      * Consul
      * NATS
      * File Storage
      * MySQL Proxy
      * MySQL Server
      * Backup Restore Node
      * Router
      * MySQL Monitor
      * Diego Brain
      * TCP Router
  * One IP for each VM instance created by the service.
  * An additional IP address for each compilation worker. The formula for total IPs needed is `IPs needed = static IPs + VM instances + compilation workers`.

    <p> <%= vars.company_name %> recommends that you allocate at least 36 dynamic IP addresses when installing <%= vars.app_runtime_abbr %>. BOSH requires additional dynamic IP addresses during installation to compile and deploy VMs, install <%= vars.app_runtime_abbr %>, and connect to services.</p>

* One or more NTP servers if not already provided by your IaaS.

* (**Recommended**) A network without DHCP available for deploying the <%= vars.app_runtime_abbr %> VMs.
  <p> If you have DHCP, see <a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-troubleshooting.html">Troubleshooting Deployment Problems</a> in the <%= vars.ops_manager %> documentation for information about avoiding issues with your installation.</p>

* (**Optional**) External storage. When you deploy <%= vars.app_runtime_abbr %>, you can select internal file storage or external file storage, either network-accessible or IaaS-provided, as an option in the <%= vars.app_runtime_abbr %> tile.

  <%= vars.company_name %> recommends using external storage whenever possible. For more information about how file storage location affects platform performance and stability during upgrades, see [Configure File Storage](./configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

* (**Optional**) External databases. When you install <%= vars.app_runtime_abbr %>, you can select internal or external databases for the BOSH Director and for <%= vars.app_runtime_abbr %>. <%= vars.company_name %> recommends using external databases in production deployments. An external database must be configured to use the UTC timezone.

* (**Optional**) External user stores. When you deploy <%= vars.app_runtime_abbr %>, you can select a SAML user store for <%= vars.ops_manager %> or a SAML or LDAP user store for <%= vars.app_runtime_abbr %>, to integrate existing user accounts.

* The most recent version of the [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli#downloads) (cf CLI).

## <a id='instance-number-scaling-reqs'></a> Instance number and scaling requirements

By default, <%= vars.app_runtime_abbr %> deploys the number of VM instances required to run a highly available configuration. If you are deploying a test or sandbox <%= vars.app_runtime_abbr %> that does not require HA, then you can scale down the number of instances in your deployment.

For information about the number of instances required to run a minimal, non-HA <%= vars.app_runtime_abbr %> deployment, see [Scaling <%= vars.app_runtime_abbr %>](../operating/scaling-ert-components.html).
