---
title: Providing a certificate for your TLS termination point
owner: RelEng
---

You can configure Transport Layer Security (TLS) termination for HTTP traffic in <%= vars.app_runtime_first %> with a TLS certificate, as part of the process of configuring <%= vars.app_runtime_abbr %> for deployment.


## <a id="ssl_term"></a> Configure TLS termination

When you deploy <%= vars.platform_name %>, you must configure the TLS termination for HTTP traffic in your <%= vars.app_runtime_abbr %> configuration. You can terminate TLS at all of these points:

* Load balancer
* Load balancer and the Gorouter
* The Gorouter

To choose and configure the TLS termination option for your deployment, see [TLS Termination Options for HTTP Routing](../adminguide/securing-traffic.html#ssl_options) in _Securing Traffic into <%= vars.app_runtime_abbr %>_.

## <a id="certs"></a> Obtain TLS certificates

To secure traffic into <%= vars.platform_name %>, you must obtain at least one TLS certificate. For general certificate requirements for deploying <%= vars.platform_name %>, see [Certificate Requirements](../adminguide/securing-traffic.html#certtypes) in _Securing Traffic into <%= vars.app_runtime_abbr %>_.

For additional IaaS-specific certificate requirements:

* **AWS:** [Certificate Requirements on AWS](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/aws-index.html)
* **Azure:** [Certificate Requirements on Azure](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/azure-index.html)
* **GCP:** [Certificate Requirements on GCP](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/gcp-index.html)
* **OpenStack:** [Certificate Requirements on OpenStack](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/openstack-index.html)
* **vSphere:** [Certificate Requirements on vSphere](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/vsphere-index.html)


## <a id="create_or_obtain_certs"></a> Create a wildcard certificate for <%= vars.platform_name %> deployments

This section describes how to create or generate a certificate for your <%= vars.app_runtime_abbr %> environment. If you are deploying to a production environment, you must obtain a certificate from a trusted Certificate Authority (CA).

For internal development or testing environments, you have two options for creating a required TLS certificates:

* You can create a self-signed certificate, or
* You can have <%= vars.app_runtime_abbr %> generate the certificate for you.

To create a certificate, you can use a wide variety of tools including OpenSSL, Java keytool, Adobe Reader, and Apple Keychain, to generate a Certificate Signing Request (CSR).

For both self-signed and trusted single certificates, apply these rules when creating the CSR:

* Specify your registered wildcard domain as the `Common Name`, where `DOMAIN` is your registered wildcard domain. For example, `*.DOMAIN.com`.

* <%= vars.company_name %> recommends using a split domain configuration that separates the domains for `apps` and `sys` components. To use a split domain configuration, enter these values in the `Subject Alternative Name` of the certificate, where `DOMAIN` is your registered wildcard domain:
    * `*.apps.DOMAIN.com`
    * `*.sys.DOMAIN.com`
    * `*.login.sys.DOMAIN.com`
    * `*.uaa.sys.DOMAIN.com`

* If you are using a single domain configuration, use these values as the `Subject Alternative Name` of the certificate, where `DOMAIN` is your registered wildcard domain:
    * `*.login.sys.DOMAIN.com`
    * `*.uaa.sys.DOMAIN.com`

<p class="note important">
<span class="note__title">Important</span>
TLS certificates generated for wildcard DNS records only work for a single domain name component or component fragment. For example, a certificate generated for <code>&#42;.DOMAIN.com</code> does not work for <code>&#42;.apps.DOMAIN.com</code> and <code>&#42;.sys.DOMAIN.com</code>. The certificate must have both <code>&#42;.apps.DOMAIN.com</code> and <code>&#42;.sys.DOMAIN.com</code> attributed to it.</p>

### <a id="ert_certgen"></a> Generate an RSA certificate in <%= vars.app_runtime_abbr %>

To generate an RSA certificate in <%= vars.app_runtime_abbr %>:

1. Go to the <%= vars.ops_manager_full %> Installation Dashboard.

1. Click the <%= vars.app_runtime_abbr %> tile.

1. Select **Networking**.

1. Under **Certificate and private keys for the Gorouter**:
    1. Under **Certificate and private key**, click **Change**.
    1. Click **Generate RSA Certificate** to populate the **Certificate and private key** fields with RSA certificate and private key information.

  <%= vars.company_name %> recommends using a split domain configuration that separates the domains for `apps` and `sys` components. To use a split domain configuration, enter the following domains for the certificate, where `DOMAIN` is your registered wildcard domain:
    * `*.DOMAIN.com`
    * `*.apps.DOMAIN.com`
    * `*.sys.DOMAIN.com`
    * `*.login.sys.DOMAIN.com`
    * `*.uaa.sys.DOMAIN.com`

2. Click **Generate**.

    ![Generate RSA Certificate screen with 2 buttons: Cancel, Generate.](./images/generate-cert.png)
