---
title: Small Footprint TAS for VMs
owner:
---

The <%= vars.app_runtime_full %> runtime is available in two forms, both available to download from the [VMware Tanzu Application Service for VMs](https://network.tanzu.vmware.com/products/elastic-runtime) page on <%= vars.product_network %>:

* <%= vars.app_runtime_abbr %>
* Small Footprint <%= vars.app_runtime_abbr %>

For more information about the difference, see the following sections.

## <a id='small-footprint'></a> When should you use Small Footprint <%= vars.app_runtime_abbr %>?

Use Small Footprint <%= vars.app_runtime_abbr %> for smaller <%= vars.platform_name %> deployments on which you intend to host 2500 or fewer apps, as described in [Limitations](#limits). If you want to use Small Footprint <%= vars.app_runtime_abbr %> in a production environment, ensure the limitations described are not an issue in your use case.

<p> Small Footprint <%= vars.app_runtime_abbr %> is compatible with <%= vars.platform_name %> service tiles.</p>

Small Footprint <%= vars.app_runtime_abbr %> is also ideal for the following use cases:

* **Proof-of-concept installations:** Deploy <%= vars.platform_name %> quickly and with a small footprint for evaluation or testing purposes.

* **Sandbox installations:** Use Small Footprint <%= vars.app_runtime_abbr %> as a <%= vars.platform_name %> operator sandbox for tasks such as testing compatibility.

* **Service tile R&D:** Test a service tile against Small Footprint <%= vars.app_runtime_abbr %> instead of a standard <%= vars.app_runtime_abbr %> deployment to increase efficiency and reduce cost.

## <a id='limits'></a> Small Footprint <%= vars.app_runtime_abbr %> Limitations

Small Footprint <%= vars.app_runtime_abbr %> has the following limitations:

* **Number of app instances:** The tile is not designed to support large numbers of app instances. You cannot scale the number of Compute VMs beyond 10 instances in the **Resource Config** pane. Small Footprint <%= vars.app_runtime_abbr %> is designed to support 2500 or fewer apps.

* **Management plane availability during tile upgrades:** You might not be able to perform management plane operations like deploying new apps and accessing APIs for brief periods during tile upgrades. The management plane is located on the Control VM.

* **App availability during tile upgrades:** If you require availability during your upgrades, you must scale your Compute VMs to a highly available configuration. Ensure sufficient capacity exists to move app instances between Compute VM instances during the upgrade.

