---
title: Getting Started with Small Footprint TAS for VMs
owner: RelEng
---

The Small Footprint <%= vars.app_runtime_abbr %> is a repackaging of the <%= vars.app_runtime_abbr %> components into a
smaller deployment with fewer virtual machines (VMs). For a description of the limitations that come with a
smaller deployment, see [Limitations](#limits).

## <a id='compare'></a> Differentiate small footprint <%= vars.app_runtime_abbr %> and <%= vars.app_runtime_abbr %>

A standard <%= vars.app_runtime_abbr %> deployment must have at least 13 VMs, but Small Footprint <%= vars.app_runtime_abbr %> requires only four.


* Required VMs: Cloud Controller, Cloud Controller Worker, Clock Global, Diego BBS, Diego Brain, Diego Cell, Doppler Server, Loggregator Traffic Controller, NATS, Router, Syslog Adapter, Syslog Scheduler, and UAA.
* Optional VMs: File Storage, HAProxy, Backup Restore Node, MySQL Monitor, MySQL Proxy, MySQL Server, TCP Router, and CredHub.

For Small Footprint TAS for VMs:

* Required VMs: Compute, Control, Database, and Router.
* Optional VMs: File Storage, HAProxy, Backup Restore Node, MySQL Monitor, and TCP Router.

The following image displays a comparison of the number of VMs deployed by <%= vars.app_runtime_abbr %> and Small Footprint <%= vars.app_runtime_abbr %>.
For TAS for VMs:

[//]: https://docs.google.com/drawings/d/19V1SY4BGW2T--c4Y8Jm26CkA8C-6jIHXl7gpEzYlTmY/edit?usp=sharing

![alt-text=""](./images/ert-vms-2.0.png)

## <a id='install'></a> Installing Small Footprint <%= vars.app_runtime_abbr %>

To install Small Footprint <%= vars.app_runtime_abbr %>, see [Architecture and Installation Overview](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/refarch-index.html) and the installation and configuration topics for your IaaS.

Follow the same installation and configuration steps as for <%= vars.app_runtime_abbr %>, with these differences:

* **Selecting a product in <%= vars.product_network %>:** When you go to the [<%= vars.app_runtime_full %>](https://network.tanzu.vmware.com/products/elastic-runtime) page on <%= vars.product_network %>, select the **Small Footprint** release.

* **Configuring resources:**
	* The **Resource Config** pane in the Small Footprint <%= vars.app_runtime_abbr %> tile reflects the differences in VMs discussed in [Architecture](#arch).
	* Small Footprint <%= vars.app_runtime_abbr %> does not default to a highly available configuration like <%= vars.app_runtime_abbr %> does. It defaults to a minimum configuration. To make Small Footprint <%= vars.app_runtime_abbr %> highly available, scale the VMs to the following instance counts:
      * **Compute**: `3`
      * **Control**: `2`
      * **Database**: `3`
      * **Router**: `3`

* **Configuring load balancers:** If you are using an SSH load balancer, you must enter its name in the **Control VM** row of the **Resource Config** pane. There is no **Diego Brain** row in Small Footprint <%= vars.app_runtime_abbr %> because the Diego Brain is co-located on the Control VM. You can still enter the appropriate load balancers in the **Router** and **TCP Router** rows as normal.


