---
title: Deploying TAS for VMs to VMC
owner: dap-tas-vmc-vcf-anycloud
---

This topic describes how to install <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) to VMware Cloud (VMC) on Amazon Web Services (AWS).

## <a id='introduction'></a> Overview

VMC provides Software Defined Data Centers (SDDCs) that run on AWS with a high-level management console to configure networking rules.
This topic describes the procedures for configuring and installing <%=
vars.app_runtime_abbr %> on VMC using public IP addresses for ingress.

To install and configure <%= vars.app_runtime_abbr %> on VMC:

  1. [Install <%= vars.ops_manager %>](#om-setup)

  1. [Configure BOSH Director](#bosh-setup)

  1. [Install and Configure <%= vars.app_runtime_abbr %>](#tas-tile)

## <a id='requirements'></a> Prerequisites

Before you install and configure <%= vars.app_runtime_abbr %> on a VMC SDDC:

* Create a VMC account. See [VMware Cloud](https://vmc.vmware.com).
* Provision SDDC with browser access to vCenter. See [Enable Browser Access to vCenter](#vcenter-access).
* Download <%= vars.ops_manager %> for vSphere from [<%= vars.product_network %>](https://network.pivotal.io/products/ops-manager/).
* Download <%= vars.app_runtime_abbr %> from [<%= vars.product_network %>](https://network.pivotal.io/products/elastic-runtime).
* Install the govc CLI to your local workstation or jump host. See [govmomi](https://github.com/vmware/govmomi/blob/master/govc/README.md) on GitHub.

If you plan to use a VPN or Direct Connect Virtual Interfaces (VIFs) to connect your network to the VMC SDDC, see the following topics:

* [Configure a VPN Connection Between Your SDDC and On-Premises Data Center](https://docs.vmware.com/en/VMware-Cloud-on-AWS/services/com.vmware.vmc-aws.networking-security/GUID-92F6C09E-8E74-430E-8F79-C2E5B2150ADA.html)
* [Configure AWS Direct Connect Between Your SDDC and On-Premises Data Center](https://docs.vmware.com/en/VMware-Cloud-on-AWS/services/com.vmware.vmc-aws.networking-security/GUID-417EE2F1-0EA5-4808-BDB3-6FF622EECB95.html)

## <a id='om-setup'></a> Install <%= vars.ops_manager %>

To install <%= vars.ops_manager %> on VMC:

1. Find the VMC pre-installed network to use for the BOSH infrastructure network:
  1. Navigate to the [VMC console](https://vmc.vmware.com/console/sddcs).
  1. From your SDDC, expand **anycloud** and click **View Details**.
  1. In **Networking & Security**, select **Network**, and then select **Segments**.
  1. Record the segment name for **sddc-cgw-nework-1**.
  1. Record the subnet **192.168.1.1/24**. SDDC combines the gateway IP address and CIDR into a single value.

1. If nothing has changed, create a file named `options.json` with the following contents:

    ```
    {
      "NetworkMapping": [
        {
          "Name": "Network 1",
          "Network": "sddc-cgw-network-1"
        }
      ],
      "PropertyMapping": [
        {
          "Key": "ip0",
          "Value": "192.168.1.10"
        },
        {
          "Key": "netmask0",
          "Value": "255.255.255.0"
        },
        {
          "Key": "gateway",
          "Value": "192.168.1.1"
        },
        {
          "Key": "DNS",
          "Value": "8.8.8.8"
        },
        {
          "Key": "ntp_servers",
          "Value": "time.google.com"
        }
      ]
    }
    ```

1. Replace the following example text in the code below, then run the commands to upload the <%= vars.ops_manager %> file to VMC:
  - `EXAMPLE-PASSWORD`: your password.
  - `<%= vars.example_domain %>`: your vCenter URL.
  - `PATH-TO-OPS-MANAGER`: the path to your <%= vars.ops_manager %> OVA file.

    ```
    export GOVC_DATACENTER=SDDC-Datacenter
    export GOVC_DATASTORE=WorkloadDatastore
    export GOVC_RESOURCE_POOL=Compute-ResourcePool

    export GOVC_URL='cloudadmin@vmc.local':'EXAMPLE-PASSWORD©'@<%= vars.example_domain %>

    govc library.create tas
    govc library.import tas PATH-TO-OPS-MANAGER
    govc library.deploy -options options.json /tas/ops-manager-vsphere-2.##.#-build.### ops-manager
    govc pool.create /SDDC-Datacenter/host/Cluster-1/Resources/az{1,2,3}
    ```
    <p class="note"><strong>Note:</strong> <%= vars.recommended_by %> recommends using <code>govc library.*</code> commands
    instead of <code>govc import.ova</code>.<br><br>
    The <code>govc import.ova</code> commands depend on access to the ESXi
    hosts, which is not configured by default in VMC.
    Using these commands can cause errors like the following:
    <code>govc: Post
    "https://10.2.32.4/nfc/5224a51f-114e-4627-8ca8-547c2e2e9488/disk-0.vmdk": dial
    tcp 10.2.32.4:443: i/o timeout</code>
    </p>

1. Log into vCenter:
    1. From the VMC console, select **SDDCs → expand anycloud → Open vCenter → Show Credentials → Open vCenter**.
    1. Find the <%= vars.ops_manager %> VM.
    1. Open the **Hosts & Clusters** view.
    1. Open the `Compute-ResourcePool`, find the `ops-manager` VM, and select it.
    1. Click ▶ to power on the VM.

1. Create public IP addresses for <%= vars.ops_manager %> and HAProxy:
    1. From the VMC console, select **SDDCs → View Details**.
    1. Select **Networking & Security → Public IPs → Request New IP**.
      1. For **notes**, enter `operations-manager` and click **Save**.
      1. Record the IP address. For example, `54.190.190.190`.
    1. Click **Request New IP**.
      1. For **notes**, enter `HAProxy` and click **Save**.
      1. Record the IP address. For example, `54.180.180.180`.

1. Create a second network segment to use as the BOSH deployment network:
    1. From the VMC console, select **SDDCs → expand anycloud → View Details**.
    1. Select **Networking & Security → Network → Segments**.
    1. Click **Add Segment**:
        1. For **Segment Name**, enter `bosh-network`.
        1. For **Type**, enter `routed`.
        1. For **Subnets**, enter `192.168.2.1/24`.

1. Assign public IP addresses to <%= vars.ops_manager %> and HAProxy:
    1. From the VMC console, select **SDDCs → View Details**.
    1. Select **Networking & Security → NAT → Add NAT Rule**.
        1. For **Rule Name**, enter `ops-manager`.
        1. For **Public IP**, enter the IP address you recorded for <%= vars.ops_manager %> in a previous step. For example, `54.190.190.190`.
        1. For **Internal IP**, enter `192.168.1.10`.
        1. Click **Save**.
    1. Select **Add NAT Rule**.
        1. For **Rule Name**, enter `HAProxy`.
        1. For **Public IP**, enter the IP address you recorded for HAProxy in a previous step. For example, `54.180.180.180`.
        1. For **Internal IP**, enter `192.168.2.2`.
        1. Click **Save**.

1. Add firewall rules that allow ingress to <%= vars.ops_manager %> and HAProxy:
    1. From the VMC console, select **SDDCs → View Details**.
    1. Select **Networking & Security → Security → Gateway Firewall → Compute Gateway → Add Rule**.
    1. Select the newly-created **New Rule**:
        1. For **Rule Name**, enter `opsman-ingress`.
        1. For **Sources**, select **Any**.
        1. Configure **Destinations**:
          - Click **Add Group**.
              - For **Group name**, enter `OM`.
              - Click **Set Members**.
              - Select **IP Addresses**.
              - Enter the <%= vars.ops_manager %> internal IP address, `192.168.1.10`.
              - Press **Enter**.
              - Click **Apply**.
          - Click **Save**.
          - Click **Apply**.
          - Click **Publish**.
    1. Click **Add Rule**.
    1. Select the newly-created **New Rule**:
        1. For **Rule Name**, enter `HAProxy-ingress`.
        1. For **Sources**, select **Any**.
        1. Configure **Destinations**:
          - Click **Add Group**.
              - For **Group name**, enter `HAProxy`.
              - Click **Set Members**.
              - Select **IP Addresses**.
              - Enter the HAProxy internal IP address, `192.168.2.2`.
              - Press **Enter**.
              - Click **Apply**.
          - Click **Save**.
          - Click **Apply**.
          - Click **Publish**.

1. Add a firewall rule that allows egress for the 192.168.1.x and 192.168.2.x subnets:
    1. From the VMC console, select **SDDCs → View Details**.
    1. Select **Networking & Security → Security → Gateway Firewall → Compute Gateway → Add Rule**.
    1. Select the newly-created **New Rule**:
      1. For **Rule Name**, enter `<%= vars.app_runtime_abbr %>-egress`.
      1. Configure **Sources**:
        1. Click **Add Group**.
            - For **Group name**, enter `<%= vars.app_runtime_abbr %>`.
            - Click **Set Members**.
            - Select **IP Addresses**.
            - Enter the first subnet CIDR, `192.168.1.0/24`.
            - Press **Enter**.
            - Enter the second subnet CIDR, `192.168.2.0/24`.
            - Press **Enter**.
            - Click **Apply**.
        - Click **Save**.
    - Click **Apply**.
    - For **Destinations**, select **Any**.
    - Click **Publish**.

## <a id='bosh-setup'></a> Configure BOSH Director

<p class="note"><strong>Note:</strong> The procedure in this section contains only the configuration information that is specific to VMC. For more information about configuring BOSH on vSphere, see <a href="https://docs.pivotal.io/ops-manager/2-10/vsphere/config.html">Configuring BOSH Director on vSphere</a>.</p>

To configure BOSH Director for VMC:

1. Log in to <%= vars.ops_manager %>:
    - Navigate to [https://54.190.190.190/](https://54.190.190.190/).
    - Enter a **Username**, **Password**, and **Password confirmation** to create an Admin user.
    - Enter a **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore and is not recoverable.

1. Select the **BOSH Director for vSphere** tile and configure BOSH as follows:
    - **Settings → vCenter Config**
        - **vCenter Host**: your vCenter URL. For example, `vcenter.sddc-35-162-72-214.vmwarevmc.com`.
        - **vCenter Username**: `cloudadmin@vmc.local`
        - **vCenter Password**: Enter the password you gathered from the SDDC.
        - **Datacenter Name**: `SDDC-Datacenter`
        - **Virtual Disk Type**: Select **Thin**.
        - **Ephemeral Datastore Names**: `WorkloadDatastore`
        - **Persistent Datastore Names**: `WorkloadDatastore`
        - Select **Standard vCenter Networking**.
    - **Settings → Director Config**
        - **NTP Servers**: Enter an NTP server of your choice. For example, `time.google.com`.
    - **Settings → Create Availability Zones**
        - **az1**:
            - **Name**: `az1`
            - **Clusters**:
                - **Cluster**: `Cluster-1`
                - **Resource Pool**: `az1`
        - **az2**:
            - **Name**: `az2`
            - **Clusters**:
                - **Cluster**: `Cluster-1`
                - **Resource Pool**: `az2`
        - **az3**:
            - **Name**: `az3`
            - **Clusters**:
                - **Cluster**: `Cluster-1`
                - **Resource Pool**: `az3`
    - **Settings → Create Networks → Networks**
        - infra:
            - **Name**: `infra`
            - **Subnets**:
                - **vSphere Network Name**: `sddc-cgw-network-1`
                - **CIDR**: `192.168.1.0/24`
                - **Reserved IP Ranges**: `192.168.1.1-192.168.1.10`
                - **DNS**: `8.8.8.8`
                - **Gateway**: `192.168.1.1`
                - **Availability Zones**: `az1, az2, az3`
        - deployment:
            - **Name**: `deployment`
            - **Subnets**:
                - **vSphere Network Name**: `bosh-network`
                - **CIDR**: `192.168.2.0/24`
                - **Reserved IP Ranges**: `192.168.2.1`
                - **DNS**: `8.8.8.8`
                - **Gateway**: `192.168.2.1`
                - **Availability Zones**: `az1, az2, az3`
    - **Settings → Assign AZs and Networks**
        - **Singleton Availability Zone**: `az1`
        - **Network**: `infra`
    - **Settings → Security**
        - **Include Tanzu Ops Manager Root CA in Trusted Certs**: Select the checkbox.

1. After you finish configuration, click **Apply Changes**. The following warning appears:
    !['Review Pending Changes' in Ops Manager. A warning at the top of the image reads, 'Please review the warnings below. IaaS default: Could not log in. Required Datacenter privileges not available.'](images/opsman-warning.png)

    Click **Ignore Warnings & Apply Changes**.
    `EditCluster` permission is not required.

## <a id='tas-tile'></a> Install <%= vars.app_runtime_abbr %>

To configure <%= vars.app_runtime_abbr %> for VMC:

1. Configure the <%= vars.app_runtime_abbr %> tile as follows:
    - **Settings → Assign AZs and Networks**
        - Network: select **deployment**
        - Click **Save**
    - **Settings → Domains**
        - Use nip.io or sslip.io or set up your own wildcard domain, and make sure<%# Replace with |ensure| or, better still, rephrase as a command. %> that it maps to the HAProxy public IP address we <%# Specify the party (VMware, Cloud Foundry, etc). %>configured earlier. For example:
            - System domain: **sys.54.180.180.180.nip.io**
            - Apps domain: **run.54.180.180.180.nip.io**
    - **Settings → Networking**
        - Set the HAProxy IP <%# Do not omit |address| from |IP address|. %>to the one we <%# Specify the party (VMware, Cloud Foundry, etc). %>specified in the NAT rule above (the first available IP <%# Do not omit |address| from |IP address|. %>in the “deployment” network.)
            - HAProxy IPs: **192.168.2.2**
        - Generate a certificate for the gorouter<%# |Gorouter| is preferred. %>/HAProxy:
            - Certificates and private keys for the Gorouter and HAProxy: click **Add**
                *   Name: haproxy cert <%# |certificate| is preferred. %>(or whatever)
                *   Click the **Generate RSA Certificate** link
                    *   Add *. domains for your system and apps domain above, separated by a comma, E.g. *.**sys.54.180.180.180.nip.io,*.run.54.180.180.180.nip.io**
        - Set HAProxy as the TLS termination point:
            - TLS Termination: **HA Proxy**
        - Disable TLS forwarding for HAProxy so that we <%# Specify the party (VMware, Cloud Foundry, etc). %>don’t have to create a certificate:
            - HAProxy forwards all requests to the Gorouter over TLS: Click **Disable.**
    - **Settings → UAA**
        - For UAA configuration, generate a SAML cert <%# |certificate| is preferred. %>for *.login.SYSTEM-DOMAIN
            - **→ SAML service provider credentials**
                - Click **Generate RSA Certificate**
                - Enter your domain, E.g. ***.login.sys.54.180.180.180.nip.io**
                - Click **Generate**
    - **Settings → Resource Config **
        Scale the HAProxy instances up to 1
        - **→ HAProxy**
            *   Set Instances to **1**
            *   Click **Save**

1. After you finish configuration, click **Apply Changes**. The following warning appears:
    !['Review Pending Changes' in Ops Manager. A warning at the top of the image reads, 'Please review the warnings below. IaaS default: Could not log in. Required Datacenter privileges not available.'](images/opsman-warning.png)

    Click **Ignore Warnings & Apply Changes**.
    `EditCluster` permission is not required.

## <a id='vcenter-access'></a> Enable Browser Access to vCenter

By default, ingress to vCenter is not enabled. If you are not using a VPN or other network, you must create a firewall rule in SDDC to allow vCenter access.

[VMC Console](https://vmc.vmware.com/console/sddcs) → SDDCs → expand anycloud → View Details → Networking & Security  → Security

1. Click **Gateway Firewall**
1. Click **Management Gateway**
1. Click **+ Add Rule**
  * Name: **vCenter Inbound Rule**
  * Destinations: select **vCenter**, click **Apply**
  * Services: **HTTPS, ICMP, SSO**
1. Click **Publish**

### <a id='vcenter-creds'></a> To record the vCenter’s credentials

Login credentials for the vCenter instance in your SDDC can be gathered as follows:

[VMC Console](https://vmc.vmware.com/console/sddcs) → SDDCs → expand anycloud → Open vCenter

1. You will see a pop-up: “Before you can log into vCenter, you must open network access to vCenter through the management gateway. Choose an option for opening network access.”
1. Click **Show Credentials**
1. Record the credentials
