---
title: Monitoring TAS for VMs
owner: PCF Metrics Platform Monitoring
---

You can monitor their <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) deployments using the instructions provided in these topics. For information about
monitoring <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) deployments, see
[Logging and monitoring <%= vars.k8s_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.16/tkgi/GUID-monitor.html).

For more information about logging and metrics in <%= vars.app_runtime_abbr %>, see [Overview of logging and metrics](../../loggregator/data-sources.html).


## <a id="new"></a> KPI and scaling changes from <%= vars.app_runtime_abbr %> v2.11 to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

There are no changes to key performance indicator (KPI) or scaling recommendations from <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) v2.11 to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.


## <a id="resources"></a> Monitor services

For information about KPIs and metrics for services, see:

* **VMware Tanzu SQL [MySQL]:** [Monitoring VMware Tanzu SQL [MySQL]](https://docs.vmware.com/en/VMware-SQL-with-MySQL-for-Tanzu-Application-Service/3.0/mysql-for-tas/index.html).

* **VMware Tanzu Gemfire:** [Monitoring VMware Tanzu GemFire Service Instances](https://docs.vmware.com/en/VMware-GemFire-for-Tanzu-Application-Service/1.14/gf-tas/content-index.html).

* **Redis for VMware Tanzu:** [Monitoring Redis for VMware Tanzu](https://docs.vmware.com/en/Redis-for-VMware-Tanzu-Application-Service/2.0/redis-for-tas-2-0.pdf)

* **VMware Tanzu RabbitMQ (pre-provisioned):** [Monitoring and KPIs for Pre-Provisioned VMware Tanzu RabbitMQ](https://docs.vmware.com/en/VMware-RabbitMQ-for-Tanzu-Application-Service/2.2/tanzu-rmq/GUID-monitor.html)

* **VMware Tanzu RabbitMQ (on-demand):** [Monitoring and KPIs for On-Demand VMware Tanzu RabbitMQ](https://docs.vmware.com/en/VMware-RabbitMQ-for-Tanzu-Application-Service/2.2/tanzu-rmq/GUID-monitor.html)
